doctype html

html(lang='en')
	head
		meta(charset='utf-8')

		title Maciej Łaszcz | nikerino.com

		meta(http-equiv='x-ua-compatible' content='ie=edge')

		meta(name='description' content='nikersify | Maciej Łaszcz - portfolio')

		meta(property='og:type' content='website')
		meta(property='og:url' content='https://nikerino.com')
		meta(property='og:site_name' content='nikerino')
		meta(property='og:image' content='https://nikerino.com/assets/img/picture-padded.png')
		meta(property='og:image:height' content='128')
		meta(property='og:image:width' content='128')
		meta(property='og:locale' content='en-US')
		meta(property='og:title' content='nikersify | Maciej Łaszcz - portfolio')
		meta(property='og:description', content=
			'Fullstack web dev, open source, random libraries and vim <3')

		meta(property='twitter:image' content='https://nikerino.com/assets/img/picture-padded.png')
		meta(property='twitter:image:height' content='128')
		meta(property='twitter:image:width' content='128')
		meta(property='twitter:card' content='summary')

		meta(name='viewport' content='initial-scale=1, width=device-width')

		link(rel="apple-touch-icon" sizes="180x180" href="/assets/fav/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png")
		link(rel="manifest" href="/assets/fav/manifest.json")
		link(rel="mask-icon" href="/assets/fav/safari-pinned-tab.svg" color="#26372e")
		link(rel="shortcut icon" href="/assets/fav/favicon.ico")
		meta(name="msapplication-config" content="/assets/fav/browserconfig.xml")
		meta(name="theme-color" content="#26372e")

		link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,700' rel='stylesheet')
		link(rel='stylesheet' href='main.css')

		script(src='/index.js' defer)
	body
		#loading-overlay
		.content
			section.splash
				.backdrop
				.nav
					.left
						a.brand#brand(href='#')
							.picture
								img(src='/assets/img/picture-small.png' alt='Small picture')
							.name#brand-name Maciej

						a.small(href='#') About
						a.small(href='#showcase') Open-source
						a.small(href='#contact') Social

					.right
						a.big(href='mailto:nikersify@nikerino.com') Contact
							i(data-feather='mail')

				.contain-inner-wide
					.lead
						.center
							h1.text-underline#lead-name Maciej #[span.text-regular Łaszcz]
							p.
								#[strong Hi!] I'm a polish-based fullstack
								#[strong web developer] doing mainly freelance work and
								developing open-source tools and services in my spare time.
							.buttons-row
								a.small(href='https://github.com/nikersify') GitHub
								a.big(href='mailto:nikersify@nikerino.com') Contact
									i(data-feather='mail')
				.proceed: a(href='#showcase')
					img(src='/assets/img/angle-down.svg')

			section.showcase
				.contain-inner
					h1.section-header#showcase Things I've made
					.projects
						.project.text-underline
							.text
								h1.text-underline fig.js
								p.
									Experimental front-end framework which uses #[a(href='https://pugjs.org') pug templates] to render apps' contents. The project consists of a #[a(href='https://browserify.org/') browserify] transform, a separate compiler package, a website containing the documentation, and the library itself!
								.buttons-row
									a.small(href='https://npmjs.com/package/figjs')
										| See on npm
									a.big(href='https://github.com/nikersify/fig')
										| Github
										i(data-feather='github')
							a(href='https://fig.nikerino.com')
								.link
									.image
										img(src='/assets/img/projects/fig.png'
											alt='Fig screenshot')
									p
										| #[strong Visit] website
										i(data-feather='arrow-right')
						.project
							.text
								h1.text-underline Splush!
								p.
									Have you ever wanted to know precisely when a remote unix job has been finished from the comfort of your mobile phone (or another device running a browser that supports notifications) without moving a muscle? Well look no further and Splush away!
								.buttons-row
									a.small(href='https://npmjs.com/package/splush')
										| See on npm
									a.big(href='https://github.com/nikersify/splush')
										| Github
										i(data-feather='github')
							a(href='https://splush.nikerino.com')
								.link
									.image
										img(src='/assets/img/projects/splush.png'
											alt='Splush screenshot')
									p
										| #[strong Visit] website
										i(data-feather='arrow-right')
						.project
							.text
								h1.text-underline link
								p.
									The most original project idea of all time! Near instant results, click statistics divided by stuff like browser type, operating system or country and a sketchy looking domain makes it the number π choice in terms of shortening your links!
								.buttons-row
									a.small(href='https://link.nikerino.com')
										| See on the web
									a.big(href='https://github.com/nikersify/link')
										| Github
										i(data-feather='github')
							a(href='https://link.nikerino.com')
								.link
									.image
										img(src='/assets/img/projects/link.png'
											alt='Link screenshot')
									p
										| #[strong Visit] website
										i(data-feather='arrow-right')

						.project
							.text
								h1.text-underline nikerino.com
								p.
									Inception! (Still technically a project though, right guys?...). The page was first designed in #[a(href='https://www.sketchapp.com') Sketch], later to be built in Sass & pug (a combo which I am quite fond of), no frameworks were harmed (or used) during development.
								.buttons-row
									a.small(href='#')
										| See on the web
									a.big(href='https://github.com/nikersify/nikerino.com')
										| Github
										i(data-feather='github')
							a(href='#')
								.link
									.image
										img(src='/assets/img/projects/nikerino.png'
											alt='Nikerino.com screenshot')
									p
										| #[strong Visit] website
										i(data-feather='arrow-right')

			section.action#contact
				.contain-inner
					.main
						p Stalk my #[strong internet stuff]
						.buttons
							a.button-glass(href='https://steamcommunity.com/id/nikersify')
								img(src='/assets/img/fa-steam.png' alt='Steam icon')
							a.button-glass(href='https://github.com/nikersify')
								img(src='/assets/img/fa-github.png' alt='GitHub icon')
							a.button-glass(href='https://keybase.io/nikersify')
								img(src='/assets/img/fa-key.png' alt='Keybase icon')
						p Or simply #[strong drop me a message...]
						a.big(href='mailto:nikersify@nikerino.com')
							| Contact
							i(data-feather='mail')
					p.credits
						| Designed and built by
						| #[strong Maciej]
						| Łaszcz (#[strong nikersify]) :]

			#back-to-top
				a.button-glass(href='#')
					i(data-feather='arrow-up')
